:root{
    --bg-color-1 : hsl(240, 100%, 5%);
    --bg-color-2: hsl(35, 77%, 62%);
    --bg-color-3: hsl(36, 100%, 99%);
    --color-1: hsl(5, 85%, 63%);
    --color-2: hsl(236, 13%, 42%);
    --color-3: hsl(236, 13%, 60%);
    --margin:  30px;
    --font-weight-700: 700;
    --px20: 20px;
    --font-size-2rem: 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    width: 100vw;
    padding: 50px;
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#dropbtn,#cancelbtn{
    display: none;
}

.drop {
    margin-left: auto;
    cursor: pointer;
}

.links >a {
    text-decoration: none;
    color: var(--color-2);
    margin-right:var(--margin);
}

.links >a:hover {
    color: var(--bg-color-2);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:var(--margin);
}
.bigHeader{
    grid-column: 1/3;
}
.bigHeader .headerImage{
    min-height: 300px;
    background-image: url(/assets/images/image-web-3-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: var(--px20);
}
.content h1{
    font-weight: 800;
    font-size: 3rem;
}
.Box p{
    color: var(--color-2);
    font-size: var(--px20);
    line-height: 1.5;
}
.Box button{
    background-color:var(--color-1);
    color: var(--bg-color-3);
    border: none;
    padding: 15px var(--px20);
    margin-top:var(--margin);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: var(--font-weight-700);
}
.Box button:hover{
    cursor: pointer;
    background-color: var(--bg-color-1);
}
aside{
    grid-column: 3/-1;
    background-color: var(--bg-color-1);
    padding: 40px var(--margin);
    color: var(--bg-color-3);
}
aside h1{
    color: var(--bg-color-2);
    font-size: var(--font-size-2rem);
    margin-bottom: var(--px20);
}
aside ul{
    list-style: none;
}
aside ul > li{
    margin: var(--px20) 0;
    border-bottom: 1px solid var(--color-2);
}
aside ul li > h4{
    margin-bottom: var(--px20);
    cursor: pointer;
}

aside ul li > h4:hover{
    color: var(--bg-color-2);
}
aside ul li > p{
    color: var(--color-3);
    margin-bottom: var(--px20);
}
#templeteBox{
    display: flex;
    justify-content: space-evenly;
    gap: var(--px20);
    grid-column: 1/-1;
}
.templete{
    display: flex;
    gap: var(--px20);
}
.templete img{
    width: 150px;
}
.templete .info h3{
    color: var(--color-3);
    font-size: var(--font-size-2rem);
}
.info h4{
    font-weight: 900;
    line-height: 1.7;
    cursor: pointer;
}
.info h4:hover{
    color: var(--color-1);
}
.info p{
    color: var(--color-2);
    line-height: 1.5;
}

@media screen and (max-width:850px) {
    body{
        padding: var(--px20);
    }
    #dropbtn{
        background-color: transparent;
        border: none;
    }
    #dropbtn,#cancelbtn{
        display: inline;
    }
    #dropContainer{
        display: none;
    }
    #dropContainer.active{
        background-color: var(--bg-color-3);
        padding: var(--px20);
        top: 0;
        right: 0;
        display: block;
        position: absolute;
        z-index: 1;
        width: 70vw;
        height: 100vh;
    }
    .links{
        margin-top: 120px;
    }
    .links > a{
        display: block;
        margin-bottom:var(--margin);
        color: var(--bg-color-1);
        font-weight: var(--font-weight-700);
    }   
    .back{
        width: 30vw;
        position: absolute;
        left: -30vw;
        top: 0;
        height: 100vh;
        background-color: hsla(240, 100%, 5%,0.5);
    }
    #cancelbtn{
        background-color: transparent;
        border: none;
        position: absolute;
        right:var(--px20);
    }
    main{
        display: block;
    }
    .bigHeader .headerImage{
        background-image: url(/assets/images/image-web-3-mobile.jpg);
    }
    .content{
        display: block;
    }
    aside{
        margin-top:var(--margin);
    }
    #templeteBox{
        display: block;
        margin-top: 50px;
    }
    .templete{
        margin-bottom:var(--margin);
    }
}