* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    width: 100vw;
    padding: 50px;
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#dropbtn,#cancelbtn{
    display: none;
}

.drop {
    margin-left: auto;
    cursor: pointer;
}

.links >a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    margin-right: 30px;
}

.links >a:hover {
    color: hsl(35, 77%, 62%);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.bigHeader{
    grid-column: 1/3;
}
.bigHeader .headerImage{
    min-height: 300px;
    background-image: url(/assets/images/image-web-3-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.content h1{
    font-weight: 800;
    font-size: 3rem;
}
.Box p{
    color: hsl(236, 13%, 42%);
    font-size: 20px;
    line-height: 1.5;
}
.Box button{
    background-color:hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    border: none;
    padding: 15px 20px;
    margin-top: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
.Box button:hover{
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
}
aside{
    grid-column: 3/-1;
    background-color: hsl(240, 100%, 5%);
    padding: 40px 30px;
    color: hsl(36, 100%, 99%);
}
aside h1{
    color: hsl(35, 77%, 62%);
    font-size: 2rem;
    margin-bottom: 20px;
}
aside ul{
    list-style: none;
}
aside ul > li{
    margin: 20px 0;
    border-bottom: 1px solid hsl(236, 13%, 42%);
}
aside ul li > h4{
    margin-bottom: 20px;
    cursor: pointer;
}

aside ul li > h4:hover{
    color: hsl(35, 77%, 62%);
}
aside ul li > p{
    color: hsl(236, 13%, 60%);
    margin-bottom: 20px;
}
#templeteBox{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    grid-column: 1/-1;
}
.templete{
    display: flex;
    gap: 20px;
}
.templete img{
    width: 150px;
}
.templete .info h3{
    color: hsl(236, 13%, 60%);
    font-size: 2rem;
}
.info h4{
    font-weight: 900;
    line-height: 1.7;
    cursor: pointer;
}
.info h4:hover{
    color: hsl(5, 85%, 63%);
}
.info p{
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
}

@media screen and (max-width:850px) {
    body{
        padding: 20px;
    }
    #dropbtn{
        background-color: transparent;
        border: none;
    }
    #dropbtn,#cancelbtn{
        display: inline;
    }
    #dropContainer{
        display: none;
    }
    #dropContainer.active{
        background-color: hsl(36, 100%, 99%);
        padding: 20px;
        top: 0;
        right: 0;
        display: block;
        position: absolute;
        z-index: 1;
        width: 70vw;
        height: 100vh;
    }
    .links{
        margin-top: 120px;
    }
    .links > a{
        display: block;
        margin-bottom: 30px;
        color: hsl(240, 100%, 5%);
        font-weight: 700;
    }   
    .back{
        width: 30vw;
        position: absolute;
        left: -30vw;
        top: 0;
        height: 100vh;
        background-color: hsla(240, 100%, 5%,0.5);
    }
    #cancelbtn{
        background-color: transparent;
        border: none;
        position: absolute;
        right:20px;
    }
    main{
        display: block;
    }
    .bigHeader .headerImage{
        background-image: url(/assets/images/image-web-3-mobile.jpg);
    }
    .content{
        display: block;
    }
    aside{
        margin-top: 30px;
    }
    #templeteBox{
        display: block;
        margin-top: 50px;
    }
    .templete{
        margin-bottom: 30px;
    }
}